header{
  display:flex;
  height: 400px;
  width:80%;
  margin: 0px 10% 0px;
  background-image:url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png);
  background-size: cover;
  justify-content: center;
  position:relative;
  
}
.header_view{
text-align:left;
  font-weight: bold;
  position:absolute;
  top: 55%;
  font-family: 'Abril Fatface' cursive;
  color:#222;
  font-style:bold;
  }

.header_p1{
  font-size: 48px;
  margin:0;
  
}
.name{
  margin:0;
  font-size: 72px;
}
.text1{
  margin: 5% 20% 5%;
  line-height: 1.5;
  width: 40%;
  padding-left: 10%;
}
.list1{
list-style-type: square;
}
blockquote{
  height:150px;
  width: 50%;
  /*margin: 0px 30% 0px;*/
  margin:auto;
  background: grey;
  color: #222;
  font-family: 'Abril Fatface', cursive;
  font-size: 36px; 
  position:relative;
}
blockquote p{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 5%;
  text-align: center;
}
blockquote::before{
  content: '\201D';
  position:absolute;
  top:-70px;
  left: 10px;
  font-size: 100px;
  transform: rotate(180deg);
}

.headeritalic
{font-style:italic;
}